@font-face {
    font-family: "Menu";
    src: url(./fonts/NewRodin.otf) format("opentype");
}

* {
    font-family: "Menu";
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/*Left and right buttons*/
#left {
    position: fixed;
    left: 0;
    top: 40vh;
    z-index: 1;
    max-height: 30vh;
}

#left:hover {
    border: 3px solid rgb(151, 15, 15);
    cursor: pointer;
}

#right {
    position: fixed;
    right: 0;
    top: 40vh;
    z-index: 1;
    max-height: 30vh;
}

#right:hover {
    border: 3px solid rgb(151, 15, 15);
    cursor: pointer;
}

#discInfoDiv {
    z-index: 1;
    position: fixed;
    color: rgb(253, 253, 253);
    top: 65vh;
    left: 60vw;
}

#mainDiv {
    background-color: rgba(0, 0, 0, 0.5);
}

#title {
    font-size: xx-large;
}

#info {
    font-size: x-large;
}

#skills {
    font-size: large;
}

#asideDiv {
    display: flex;
    align-content: flex-end;
}

#heading {
    position: fixed;
    top: 2vh;
    left: 0;
    z-index: 3;
    max-width: 100vw;
}

#goHomeBtn {
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    z-index: 3;
}
#goHome {
    margin-bottom: 15px;
}

#goHome:hover {
    cursor: pointer;
}

#pointer {
    max-height: 90px;
    display: none;
    
}

#pointer.hovered {
    display: inline;
    position: relative;
    transition: 0.4s;
    animation: hovering 0.75s infinite;
}

@keyframes hovering {
    0%   {top: 0px;}
    50% {top: 10px;}
    100% {top: 0px;}
}